<%= render 'spots/header', spot: @spot %>

<div data-controller="spot-comments">
  <%= render "comments/form", spot: @spot, comment: @comment %>


  <div data-spot-comments-target='list'>
    <% @comments.each do |comment| %>
      <%= render 'spots/comment', comment: comment%>
    <% end %>
  </div>
</div>
