// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #002531;
$primary: #04434F;
$black-700: #4D666F;
$black-300: #9FB9C6;
$black-100: #D9E3E8;
$black-50: #F2F5F7;
$pop: #5FC1FA;
$white: white;

.txt-primary {
  color:$primary !important;
}
