
// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Gt-Am-reg";
  src: font-url('GT-America-Regular.woff') format('woff');
}
@font-face {
  font-family: "Gt-Am-bold";
  src: font-url('GT-America-Bold.woff') format('woff');
}
@font-face {
  font-family: "Gt-Am-comp-bold";
  src: font-url('GT-America-Compressed-Bold.woff') format('woff');
}
@font-face {
  font-family: "Gt-Am-comp-med";
  src: font-url('GT-America-Compressed-Medium.woff') format('woff');
}
@font-face {
  font-family: "Gt-Am-comp-reg";
  src: font-url('GT-America-Compressed-Regular.woff') format('woff');
}
@font-face {
  font-family: "Gt-Am-cond-bold";
  src: font-url('GT-America-Condensed-Bold.woff') format('woff');
}
@font-face {
  font-family: "Gt-Am-cond-med";
  src: font-url('GT-America-Condensed-Medium.woff') format('woff');
}
@font-face {
  font-family: "Gt-Am-cond-reg";
  src: font-url('GT-America-Condensed-Regular.woff') format('woff');
}

*{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

h1 {
  font-family: "Gt-Am-comp-bold";
  font-size: 36px;font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.05em;
  color: $primary;
}

h2 {
  font-family: "Gt-Am-comp-bold";
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $primary;
}
h3 {
  font-family: "Gt-Am-comp-med";
  font-size: 24px;
  color: $primary;
}

p {
  font-family: "Gt-Am-reg";
  font-size: 16px;
  line-height: 24px;
  color: $black-700;
  margin-bottom: 0 !important;
}

.call-to-action {
  font-family: "Gt-Am-bold";
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.text-x-small {
  font-family: "Gt-Am-cond-med";
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.text-x-small-bold {
  font-family: "Gt-Am-cond-bold";
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.label {
  font-family: "Gt-Am-cond-reg";
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.label-bold {
  font-family: "Gt-Am-cond-bold";
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black-700;
}

// Define fonts for body and headers
$body-font: "Gt-Am-reg", "Georgia", "sans-serif";
