.container-profil {
  border-radius:0 !important;
  backdrop-filter: initial;
}

.onglets-profil {
  margin-left:0;
}

.user-nickname {
  margin-top: $spacing-s;
  margin-bottom: $spacing-xs;
  color:$primary;
}

.progress {
  border-radius:50px;
  background-color: $black-100;
  margin-bottom:$spacing-xs;
}

.progress-bar {
  background-color: $pop;
  animation: showProgressBar 1s;
  transform-origin:left;
}

.user-text {
  font-size:13px;
}

.user-profile-grid {
  grid-template-rows: 1fr !important;
}

.favorites-spots-wrapper {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  .picto-rectangle {
    width: 100px;
    transform: scale(0.7);
  }
}

@keyframes showProgressBar {
  0% {
    transform:scaleX(0)
  }
  100% {
    transform:scaleX(1)
  }
}
