.card-spot-carousel-show {
  position: relative;
  overflow: hidden;
}

.card-spot-carousel-show i {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
  color: white;
  font-size: 24px;
}

.container-header {
  // Attention c'est triché de ouf et il faut gérer le blur opacité aussi
  width: 100%;
  margin-top:-20px;
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 24px 24px 0px 0px;
  padding: 16px;
}


.button_to {
  height:0;
}
