.forecast-days {
  display: flex !important;
  overflow-x: scroll !important;
  flex-wrap: nowrap !important;
  .pills {
    margin-bottom: 4px;
    margin-right: 8px;
  }
}

.weather-picto {
  margin: 12px auto;
}

.pills.active {
  color: $primary;
  position: relative;
}
.pills.active::after {
  content: "";
  height: 0px;
  width: 0;
}
