.container-map-box {
  background-color: white;
  padding-top: $spacing-xs;
  z-index: 9999;
  background: white;
  position: sticky !important;
  top: 0;
  left: 0px;
}
.map-box-search {
  display: flex;
  justify-content: center;
}

.container-spots {
  margin-top: 32px;

}

.container-header-results {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-spots-results {
  z-index: 99999;
  background: white;
  margin-top: -20px;
  position: fixed;
  width: 100vw;
  border-radius: 16px 16px 0 0;
  h3 {
    margin-top:8px;
  }
}

.container-index {
  padding-bottom:80px;
}

/* Hiding scrollbar */
.index-sorting::-webkit-scrollbar {
  display:none;
}

.index-sorting {
  -ms-overflow-style:none;
  scrollbar-width:none;
}

.index-sorting {
  position: relative;
  display: flex;
  align-items: center;
  margin: $spacing-s auto;
  overflow-x: scroll;
  padding: 0 $spacing-s;
  a {
    text-decoration: none;
    font-family: "Gt-Am-cond-reg";
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .pills {
    white-space: nowrap;
    margin-right:12px;
  }
  &::after {
    content: "";
    position: fixed;
    top: 60px;
    right: -1px;
    height: 50px;
    width: 50px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  }
  &::before {
    content: "";
    position: fixed;
    top: 60px;
    left: -1px;
    height: 50px;
    z-index: 999;
    width: 20px;
    background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  }
}

.image-size-index {
  height: 220px;
  object-fit: cover;
}

.index-sorting .pills.active {
  a{
    color:white;
  }
}

.card-spot {
  margin-bottom: $spacing-l;
}

.mapboxgl-control-container {
  display: none;
}
