.container-description {
  // Attention c'est triché de ouf et il faut gérer le blur opacité aussi
  width: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 0 16px;
  // Pour le bouton fixé en bas
  padding-bottom:64px;
}

.nav {
  justify-content: space-between;
}

.nav-link {
  color: $black-300;
  padding: $spacing-s 0;
}
.nav-link.active {
  color: $primary;
  position: relative;
}
.nav-link.active::after {
  position: absolute;
  content: "";
  height: 4px;
  left: 0;
  width: 100%;
  bottom: 0px;
  background-color: $primary;
}

.nav-left {
  padding-left: 0 !important;
}
.nav-right {
  padding-right: 0 !important;
}

.show-onglets {
  width:100vw;
  margin-left: -$spacing-s;
  margin-bottom: $spacing-s;
  border-top: 1px solid $black-300;
  border-bottom: 1px solid $black-300;
  padding:0 $spacing-s;
}

.show-descr {
  color: $black-700;
}

.show-descr-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top:$spacing-s;
}

.show-descr-grid-type, .show-descr-grid-category, .show-descr-grid-fluent {
  padding: $spacing-xs 0;
}
.show-descr-grid-type-content, .show-descr-grid-category-content, .show-descr-grid-fluent-content {
  padding-bottom: $spacing-xs;
}

.show-descr-services {
  margin-top:$spacing-s;
  padding-bottom:$spacing-xs;
}
.show-descr-services-content {
  padding-bottom: $spacing-xs;
  display:flex;
  img {
    margin-right:$spacing-xs;
  }
}

.show-descr-activities, .show-comments-photos {
  color: $primary;
  margin-top: 12px;
}
.show-descr-activities-content, .show-comments-photos-content {
  margin-bottom: $spacing-xs;
}


.show-activities {
  margin-top:$spacing-s;
}


//--------------- masonry-carousel

.grid-masonry {
  background: white;
  margin-top: $spacing-s;
}

/* clear fix */
.grid-masonry:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer-masonry,
.grid-item-masonry {
  width: 33.333%;
}

.grid-item-masonry {
  float: left;
}

.grid-item-masonry img {
  display: block;
  max-width: 98%;
  margin-bottom: 2px;
  border-radius: 5px;
}
