.forecast-days {
  display: flex !important;
  overflow-x: scroll !important;
  flex-wrap: nowrap !important;
  .pills {
    margin-bottom: 4px;
    margin-right: 8px;
  }
}

.weather-picto {
  margin: 12px auto;
}

.pills.active {
  color: white;
  position: relative;
  a {
    color: white;
  }
}
.pills.active::after {
  content: "";
  height: 0px;
  width: 0;
}

#form-comments {
  position: relative;
  background-color: white;
  position:fixed;
  bottom:0;
  left:0;
  width:100vw;
  padding-bottom: 110px;
  padding-top: 30px;
  border-radius: 15px 15px 0 0;
  border: 1px solid rgb(215, 215, 215);
  transition: 0.3s ease;
}

.form-exit {
  font-family: "Gt-Am-cond-bold";
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 10px;
  color: $black-700
}

.form-control {
  border-radius: 15px !important;
  color: $black-700;
}

.textarea.form-control {
  border-radius: 15px;
}

.input-upload {
  width: 100%;
  display: flex;
  justify-content: center;
}


.form-label {
  font-family: "Gt-Am-cond-reg";
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black-700;
}
