.comment-rating {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: repeat(5, 13px);
  grid-column-gap: 24px;
  grid-row-gap: 0px;
}

.comment-rating-avg {
  grid-area: 1 / 1 / 5 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:$spacing-s;
  p {
    font-size: 52px;
    font-family: "Gt-Am-comp-reg";
  }
}

.comment-rating-count {
  grid-area: 5 / 1 / 6 / 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// Select each individual line
.comment-rating-line {
  background-color:$black-100;
  border-radius:16px;
}

// Styling completed line
.completed-comment-range {
  background-color: $black;
  height:4px;
  animation: scaleWidth 1s;
  border-radius:16px;
  transform-origin: left;
}

@keyframes scaleWidth {
  0% {
    transform:scaleX(0);
  }
  100% {
    transform:scaleX(1);
  }
}


.comment-rating-range-1 {
  grid-area: 1 / 2 / 2 / 4;
}
.comment-rating-range-2 {
  grid-area: 2 / 2 / 3 / 4;
}
.comment-rating-range-3 {
  grid-area: 3 / 2 / 4 / 4;
}
.comment-rating-range-4 {
  grid-area: 4 / 2 / 5 / 4;
}
.comment-rating-range-5 {
  grid-area: 5 / 2 / 6 / 4;
}


.comment-rating-range-1, .comment-rating-range-2, .comment-rating-range-3,
.comment-rating-range-4, .comment-rating-range-5 {
  height: 4px;
  p {
    margin: 0;
  }
}


.comments-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $spacing-s 0;
  a {
    text-decoration: none;
    font-family: "Gt-Am-cond-reg";
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.comment-content {
  margin-bottom: $spacing-m;
  margin-top: $spacing-s;
  border-bottom: 1px solid $black-100;
  display:flex;
  flex-direction: column;

  i {
    font-size:19px;
  }

  span {
    font-size:11px;
    font-family: "Gt-Am-cond-bold";
  }
  .like-controls {
    text-align: right;
  }
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-xs;
}
.comment-header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-photo-user {
  img {
    height: 32px;
    width: 32px;
    border-radius: 50px;
  }
}

.comment-info-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: $spacing-xs;
}

.comment-date {
  color:$black-300;
}
