<div class="bottom-bar">
    <%= link_to search_spots_path, class:"bottom-bar-item bottom-nav-link nav-left" do %>
      <i class="fas fa-search size-font-awesome"></i>
    <% end %>

    <%= link_to profile_path, class:"bottom-bar-item bottom-nav-link " do %>
      <i class="fas fa-user size-font-awesome"></i>
    <% end %>

    <%= link_to edit_profile_path, class:"bottom-bar-item bottom-nav-link active nav-right" do %>
      <i class="fas fa-cog size-font-awesome"></i>
    <% end %>
</div>
