.btn-cta {
  color: white;
  width: 100%;
  background: linear-gradient(89.48deg, #5FC1FA 6.24%, #1A82BE 93.98%);
  text-align: center;
  height: 56px;
  line-height: 56px;
  z-index: 101;
  a {
    color:white !important;
  }
}

.btn-fixed {
  position:fixed;
  bottom:45px;
  left:0;
  width:100vw;
  z-index: 9999;
}

.btn-cta-rounded {
  background: $pop;
  border-radius: 60px;
  height: 48px;
  color: white;
  width: 75%;
  border: none;
  padding: 12px 0;
  height:auto !important;
  line-height:initial !important;
}

.btn-menu {
  color: $black-100;
  width: 100%;
  background: white;
  text-align: center;
  height: 56px;
  line-height: 56px;
}
.btn-ghost {
  font-size: 16.5px;
  margin-right: 8px;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-disabled {
  background:$black-100;
  color:$black-700;
}
