input, textarea {
  font-size:13px !important;
  font-family: "Gt-Am-reg";
  color:$black-700 !important;
}

.password-forgotten {
  margin: 8px auto;
}

.form-select {
  border-radius: 15px;
}

.edit-fix {
  width: 100% !important;
}

.mx-1 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.user_address .mapboxgl-ctrl, .user_favorite_area .mapboxgl-ctrl {
  width:100% !important;
}

.form-edit {
  width: 100% !important;
}
