.mapboxgl-ctrl-geocoder {
  position: relative;
  width: 80%;
  border: 0.5px solid rgba(0,0,0,0.08);
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  input {
    font-family: "Gt-Am-reg";
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0 !important;
    padding-left: 24px;
  }
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: rgba(0,0,0,0.75);
  outline: 0;
  box-shadow: none;
  outline: thin solid rgba(0,0,0,0.75);
  border-radius: 50px;
}
.mapboxgl-ctrl input {
  padding-right:46px;
}
.mapboxgl-ctrl-geocoder--icon {
  display:none;
}
.custom-icon-search {
  i {
    position: absolute;
    right: 40px;
    z-index: 999;
    top: 24px;
    font-size:20px;
    color:$black-300;
  }
}

.btn:focus {
    box-shadow: none;
    i {
      color:$black;
    }
}


.toogle-map-add-spot {
  .mapboxgl-canvas {
    width:100%;
    height:100%;
  }
  .mapboxgl-ctrl {
    width: 100%;
  }
  .mapboxgl-ctrl-geocoder {
    border:none;
  }
}
