.uppy-Webcam-container {
  position: relative;
}

.uppy-Webcam-videoContainer {
  position: inherit;
  bottom: 10px
}

.uppy-Webcam-footer {
  position: inherit;
  bottom: 110px;
  text-align: center;
  margin-top: 24px;
}
.mw-33 {
  max-width: 30%;
  padding-right: 0 !important;
}
.uppy-Dashboard-inner {
  max-height: 80% !important;
}
