.pills {
  font-family: "Gt-Am-cond-reg" !important;
  line-height: 16px !important;
  font-size: 13px !important;
  letter-spacing: 0.11em !important;
  text-transform: uppercase !important;
  border: 1px solid $primary !important;
  border-radius: 50px !important;
  padding: 4px 8px !important;
  color: $primary !important;
  width: fit-content !important;
}

.pills.active {
  background-color: $primary !important;
  font-family: "Gt-Am-cond-med" !important;
  color: white !important;
}
.pills.pop {
  border: $pop !important;
  background-color: $pop !important;
  color: white !important;
  font-family: "Gt-Am-cond-reg" !important;
}
